<mat-tab-group>
    <mat-tab label="Code Generation">
        <mat-card>
            <mat-card-content>
                <section>
                    <h1>Code Generation</h1>
                    <p>Welcome to the Code Generation section!</p>
                    <p>Here, you can harness the power of artificial intelligence to
                        automate your coding tasks using GPT-3.5 Turbo model.</p>
                    <p>Enter a brief description of the code you need, and let GPT-3.5 Turbo do the rest!</p>
                    <p>Ready to see GPT-3.5 Turbo in action? Click the button below to dive into the world of AI-driven
                        code generation!</p>
                    <!-- <button mat-icon-button (click)="goToCodeGen()">
                        <mat-icon>open_in_new</mat-icon>
                    </button> -->
                    <button (click)="goToCodeGen()">Get Started</button>
                </section>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Image Generation">
        <mat-card>
            <mat-card-content>
                <section>
                    <h1>Image Generation</h1>
                    <p>Welcome to the Image Generation section! Here, you can unleash your creativity
                        and explore the possibilities of AI-generated images using the DALL·E 2 model.</p>
                    <p>Generate high-quality images tailored to your specifications.</p>
                    <p>Excited to see what DALL·E 2 can create for you? Click the button below to start generating
                        amazing images with AI!</p>
                    <!-- <button mat-icon-button (click)="goToImageGen()">
                        <mat-icon>open_in_new</mat-icon>
                    </button> -->
                    <button (click)="goToImageGen()">Get Started</button>
                </section>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>